@model Order

<h2>Введите данные</h2>
<div style="font-size:1.275rem;">По ним мы отправим вам товары</div><br>

<form asp-action="Checkout" method="post">
    <h3>Кому</h3>
    <div class="form-group">
         <div class="mb-3">
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
        <label asp-for="surname"></label>
        <input asp-for="surname" class="form-control" />
        <span asp-validation-for="surname" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
        <label asp-for="number"></label>
        <input asp-for="number" class="form-control" />
        <span asp-validation-for="number" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
         <label asp-for="city"></label>
        <input asp-for="city" class="form-control" />
        <span asp-validation-for="city" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
         <label asp-for="address"></label>
        <input asp-for="address" class="form-control" />
        <span asp-validation-for="address" class="text-danger"></span>
        </div>
        <div class="mb-3">
         <span style="font-size:1.275rem;" asp-validation-for="Cart" class="text-danger"></span>
        </div>
    </div>
    <div class="text-center">
    <input class="btn btn-primary" type="submit" value="Выполнить заказ" />
    </div>
</form>