@model RegistrationViewModel

@if(User.Identity.IsAuthenticated && !(User.IsInRole("Basic")))
{
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

@if( !User.Identity.IsAuthenticated )
{
    <div class="p-4 col-4 mx-auto">
        <form method="post" asp-action="Registr">
            <div class="form-group" style="font-size:1.1rem;" >
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Введите имя пользователя" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" placeholder="Введите почту" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" placeholder="Введите пароль"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="passwordConfirm"></label>
                    <input asp-for="passwordConfirm" class="form-control" placeholder="Подтвердите пароль" />
                    <span asp-validation-for="passwordConfirm" class="text-danger"></span>
                </div>
                 <div class="d-flex justify-content-center">
                    <input class="m-2 btn btn-primary btn-lg" type="submit" value="Зарегистрироваться" />
                </div>      
            </div>
        </form>
    </div>
}
else
{
    <div class="p-3 col-5 mx-auto">
        <form asp-action="Logout">
            <div class="d-flex justify-content-center mb-2" style="font-size:1.6rem;">
               <span>Вы уже зашли под пользователем&nbsp;<span>@User.Identity.Name</span>.</span> 
            </div>
            <div class="d-flex justify-content-center mb-4" style="font-size:1.6rem;">Хотите выйти?</div>
            <div class="d-flex justify-content-center">
                <input class="btn btn-primary btn-lg" type="submit" value="Выйти" />
            </div>
        </form>
    </div>
}